@page "/create"
@using MAUI_MasterDetails.Model;
@using MAUI_MasterDetails.Service;
@using MAUI_MasterDetails.ViewModel;
@using System.Text.Json;
@using System.Net.Http.Headers;
@using System.Net.Http.Json;

@inject BookingService bookingService
@inject NavigationManager navigationManager

<h3 class="text-center">Add a new Customer</h3>
<CustomerForm Client="client" OnValidSubmit="OnValidSubmit" tourSpots="tourSpots" SelectedFileChanged="HandleFileChanged"></CustomerForm>
<div class="d-flex mt-4">
    <a class="btn btn-link" href="/">Back to list</a>
</div>


@code {
    ClientVM client = new ClientVM();
    List<Spot> tourSpots = new List<Spot>();

    private IBrowserFile selectedFile;

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }
    async Task LoadData()
    {
        selectedFile = null;
        tourSpots = (await bookingService.GetSpots()).ToList();
        client.SpotList.Add(new Spot());
    }

    private void HandleFileChanged(IBrowserFile file)
    {
        selectedFile = file;
        Console.WriteLine(selectedFile.Name);
    }

    private async Task OnValidSubmit()
    {
        var formData = new MultipartFormDataContent();

        var clientData = new StringContent(JsonSerializer.Serialize(client));
        formData.Add(clientData, "ClientInfo");

        int MAX_FILE_SIZE = 10485760;

        if (selectedFile is not null)
        {
            using (var streamContent = new StreamContent(selectedFile.OpenReadStream(MAX_FILE_SIZE)))
            {
                var fileContent = new ByteArrayContent(await streamContent.ReadAsByteArrayAsync());
                fileContent.Headers.ContentType = MediaTypeHeaderValue.Parse("multipart/form-data");

                formData.Add(fileContent, "PictureFile", selectedFile.Name);                    
            }
        }

        var response = await bookingService.AddBooking(formData);

        if (response.IsSuccessStatusCode)
        {     
            navigationManager.NavigateTo("/");
        }
        else
        {
            
        }

    }
}
